mixin education-experience__element(title1, title2)
	.block-column
		.padd_educations.block-row.padd_educations
			.marker
			.title1-educations=title1
			.data // Feb 2011 - Jun 2014
		.title2-educations=title2 