mixin title-block(imageName, text)
	.circle.circle_small_no-full
		.circle.circle_small_full
			img(src='img/'+imageName+'.jpg' alt='text')
	.titleText.titleText_left= text
	
mixin title-block_right(imageName, text)
	.circle.circle_small_no-full
		.circle.circle_small_full
			img(src='img/'+imageName+'.jpg' alt='text')
	.titleText.titleText_right= text
	