include ../lib/title
mixin software__element(text)
	.software-column
		.software-text.software-text-pad= text
		.software-indicator
			-if (text=='PHOTOSHOP'){
			.software-indicator_blue.indicator_PHOTOSHOP
			-}
			-if (text=='ILLUSTRATOR'){
			.software-indicator_blue.indicator_ILLUSTRATOR
			-}
			-if (text=='INDESIGN'){
			.software-indicator_blue.indicator_INDESIGN
			-}
			-if (text=='DREAMWEAVER'){
			.software-indicator_blue.indicator_DREAMWEAVER
			-}
			-if (text=='AFTER EFFECTS'){
			.software-indicator_blue.indicator_AFTER-EFFECTS
			-}
			-if (text=='HTML&CSS3'){
			.software-indicator_blue.indicator_HTML-CSS3
			-}
		
.conteiner__col_right__blocks.conteiner__col_right__software.padd_software
	+title-block_right('icon_software1920', 'software')
	.line.line-software
	.conteiner__col_right__blocks
		.software-column
			+software__element('PHOTOSHOP')
			+software__element('ILLUSTRATOR')
			+software__element('INDESIGN')
		.software-column.software-pad_left
			+software__element('DREAMWEAVER')
			+software__element('AFTER EFFECTS')
			+software__element('HTML&CSS3')