include ../lib/title
include ../lib/education-experience__element

.conteiner__col_right__blocks.conteiner__col_right__experience.padd_experience
	+title-block_right('icon_experience1920', 'experience')
	.line.line-experience
	.block-column
		.block-row.padd_experience1
			.marker
			.title1-educations CONPANY NAME
			.data // Feb 2011 - Jun 2014
		.title2-educations YOUR JOB HERE
		.text-educations Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
	+education-experience__element('CONPANY NAME', 'YOUR JOB HERE')
	.text-educations Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
	+education-experience__element('CONPANY NAME', 'YOUR JOB HERE')
	.text-educations Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.