include ../lib/title
.conteiner__col_left__profile
	//include ../lib/title-block
	+title-block('icon_profile1920', 'profile')
	.p.p1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
	.p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
	.p pretium quis, sem. Nulla consequat massa quis enim. Donec 
	.p pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
	.p dictum felis eu 
		span pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean 
		.span vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 
		