include ../lib/title

.conteiner__col_right__blocks.conteiner__col_right__education.padd_education
	+title-block_right('icon_education1920', 'education')
	.line.line-education
	.block-column
		.padd_educations.block-row.padd_educations
			.marker
			.title1-educations MASTER DEGREE
			.data // Feb 2011 - Jun 2014
		.title2-educations UNIVERSITY NAME
		.text-educations Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.