include ../lib/title

.conteiner__col_left__blocks.conteiner__col_left__contact.padd
	+title-block('icon_contact1920', 'contact')
	.line.line-contact
	.block-CONTACT
		.CONTACT.pad-ADDRESS ADDRESS
		.CONTACT_text Main Street, City.
	.block-CONTACT
		.CONTACT.pad-MAIL  E-MAIL
		.CONTACT_text contact@domain.com
	.block-CONTACT
		.CONTACT.pad-PHONE PHONE
		.CONTACT_text 555-555-555
	.block-CONTACT
		.CONTACT.pad-WEBSITE  WEBSITE
		.CONTACT_text www.yorweb.com