.conteiner__col_left__name
	include ../lib/circle
	.conteiner__col_left__name_center-name.conteiner__col_left__name_name NAME HERE
	.conteiner__col_left__name_center-surname.conteiner__col_left__name_surname SURNAME
	.conteiner__col_left__name_center-designer.conteiner__col_left__name_designer GRAPHIC DESIGNER