include ../lib/title
include conteiner__col_left__blocks
.conteiner__col_left__blocks.conteiner__col_left__skills.padd
	+title-block('icon_skills1920', 'skills')
	.line.line-skills
	.skill_text CREATIVE
.skill-conteiner
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_blue
	.skill-pad
	.skill.skill_gray
	.skill-pad
	.skill.skill_gray
	.skill-pad