include ../lib/title
include conteiner__col_left__blocks
.conteiner__col_left__blocks.conteiner__col_left__skills.padd
	+title-block('icon_skills1920', 'skills')
	.line.line-skills
	.skill-conteiner-column
		.skill__text CREATIVE
		.skill-conteiner-row
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
		.skill__text TEAMWORK
		.skill-conteiner-row
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_gray
			.skill-pad
		.skill__text INNOVATE
		.skill-conteiner-row
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
			.skill.skill_gray
			.skill-pad
		.skill__text COMMUNICATION
		.skill-conteiner-row
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_blue
			.skill-pad
			.skill.skill_gray
			.skill-pad