//html(lang="ru")
	//head
		//meta(charset="utf-8")
		//title= "Макет Резюме main"
		//link(href='dist/app.css' rel='stylesheet')
	//body
		//div.conteiner
			//include modules/conteiner__left-col
			//include modules/conteiner__right-col
		//script(type='text/javascript' src='dist/app.js')