html(lang="ru")
	head
		meta(charset="utf-8")
		title= "Макет Резюме index"
		link(href='dist/app.css' type='text/css')
	body
	h1 Макет Резюме
		div.conteiner
			include pug/conteiner__left-col
			include pug/conteiner__right-col
		//script(type='text/javascript' src='dist/app.js')