html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= "Макет Резюме"
		
	body
	.conteiner
		include pug/conteiner__col_left
		include pug/conteiner__col_right
		
		
		//script(type='text/javascript' src='dist/app.js')