$background: red;


.padd_experience{
	padding-top: 2.1rem;
	//padding-left: -0.1rem;
	padding-bottom: 1.9rem;
	
}
.padd_experience1{
	padding-top: 3.2rem;
	padding-left: 0.8rem;
}
.conteiner__col_right__experience{
	
	background:$background;
}
.line-experience{
width:23.6rem;
}