$background: darkorange;


.padd_education{
	padding-top: 6rem;
	padding-left: -0.1rem;
}
.conteiner__col_right__education{
	
	background:$background;
}
.line-education{
width:24rem;
}
//@import '../lib/title';
