$background: chocolate;
$width_col_left:33.33rem;
.conteiner__col_left__blocks{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-wrap:wrap;
	background:$background;
	width:$width_col_left;
	//padding-top: 5.8rem;
	padding-left: 0.1rem;
	
}
@import 'conteiner__col_left__profile';
@import 'conteiner__col_left__contact';