$background: chocolate;
$width_col_left:33.33rem;
.conteiner__col_left__profile{
	display:flex;
	//flex-direction:column;
	align-items:flex-start;
	background:$background;
	width:$width_col_left;
	padding-top: 5.8rem;
	padding-left: 0.1rem;
	
}
@import '../lib/icon';