$height: 2000px;
$background: red;
$width_col_left:33.35rem;
.conteiner__col_left{
	display: flex;
	flex-direction:column;
	//justify-content:center;
	width: $width_col_left;
	margin-right: 4.6rem;
	background: $background;
	height: $height;
}
@import 'conteiner__col_left__name';
@import 'conteiner__col_left__profile';
