$background: #DCDCDC;
$width: 1920;
$padding: 0px;
$margin-left: -9px;
$margin-top: -20px;
$max-width: 1920px;
$min-width: 320px;
$border: 0px dotted black;
$height: 2715px;
.conteiner{
	display: block;
	background: $background;
	width: $width;
	padding: $padding;
	margin-left: $margin-left;
	margin-top: $margin-top;
	max-width: $max-width;
	min-width: $min-width;
	padding-left: 4.75rem;
	border: $border;
	height: $height;
}
@import 'conteiner__col_left';
@import 'conteiner__col_right';
