$height: 2700px;
$background: yellow;
.conteiner__col_right{
	display: flex;
	flex-direction:column;
	width: 49rem;
	background: $background;
	height: $height;
}
@import 'conteiner__col_right__education';
@import 'conteiner__col_right__blocks';