.padd-prof{padding-top: 5.8rem;}
.p{
	//padding-left:0.01rem;
	font-family: Myriad Pro;
	font-size:1.195rem;
	font-stretch:normal;
	font-style:normal;
	font-variant:small;
	font-weight: 400;
	//color:$color;
}
.p1{
	padding-top:0.8rem;
}
span{
	font-weight: 700;
	//font-style:bold;
	//font-stretch:ultra-condensed;
}
.span{
	font-weight: 700;
	//font-style:bold;
	//font-stretch:ultra-condensed;
}
.line-profile{
	width:13rem;
}
//@import '../lib/title';