$background: green;
$width_col_left:33.33rem;
.conteiner__col_left__name{
	display:block;
	//flex-direction:сolumn;
	//align-items:center;
	background:$background;
	width:$width_col_left;
	padding-top: 6.8rem;
	
}
.conteiner__col_left__name_center-name{
	display:block;
	width: 23.5rem;
	margin-left: auto;
	margin-right: auto;
}
.conteiner__col_left__name_name{
	padding-top:2.05rem;
	font-family: MyriadPro-LightCond, Arial;
	font-size:3.94rem;
	font-stretch:normal;
	font-style:normal;
	font-variant:small-caps;
	font-weight: 100;
}
.conteiner__col_left__name_center-surname{
	display:block;
	width: 24.8rem;
	margin-left: auto;
	margin-right: auto;
	
}	
.conteiner__col_left__name_surname{
	
	margin-top:-1.63rem;
	font-family: Arial;
	font-size:4.55rem;
	font-stretch:normal;
	font-style:bold;
	font-variant:small-caps;
	font-weight: 800;
}
.conteiner__col_left__name_center-designer{
	display:block;
	width: 18.25rem;
	margin-left: auto;
	margin-right: auto;
	
}	
.conteiner__col_left__name_center-designer{
	
	margin-top:-0.02rem;
	font-family: Arial;
	font-size:1.8rem;
	font-stretch:normal;
	font-style:bold;
	font-variant:small-caps;
	font-weight: 700;
}
@import '../lib/circle';
